{% extends 'OnTheRoadOnTheRoadBundle::adminlayout.html.twig' %}

{% block container -%}
    <h1>Create new comment</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tcomment',{'locale':customlocale }) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
