{% extends 'OnTheRoadOnTheRoadBundle::layout.html.twig' %}

 {% block container %}

     <div class ="row ">
         <div id="information-front" class="col-xs-12 ">
             <h1>{% trans %}Who we are?{% endtrans %}</h1>
             <p>wwwww</p>
         </div>

     </div>
 {% endblock %}